.customHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    font-size: 1.8rem;
    padding:0 10px;
    font-weight: bold;
    text-align: center;
    flex: 0.2;
    color: #1d388c;
  }

  .line {
    flex: 0.4;
    height: 2px;
    width: 100%;
    background: #1d388c;
  }
}
